@(status: List[Status], place: Place)

@import helper._
@import util._

@main(place.label + " historique") {
   
    <div>
    <h1>@place.label</h1>
</div>
<div>
    
 <a href="/places">   <button type="button" class="btn btn-block"><span>Retour à la liste des moloks</button></a>
    
    
  
</div>
        @status.map { st =>
            <div>
                
                <button type="button" class="btn btn-block"><img src="/assets/images/@st.getCurrentImageKey(32)"/><span>  @Misc.formatDate(st.date)</span><span>, vu par : @st.fullName()</span></button>
                
                
              
            </div>
        }
        
    
 
    
}
