
@(places: List[Place])

@import helper._

@main("Moloks") {
  
    
    <div>

      <h3><img src="/assets/images/ecusson.jpg" width="40px" height="40px"> Les Moloks</h3>
    </div>
<div>
    <table>
        @places.map { place =>
            <tr>
                <td class="img-col"><img src="/assets/images/@place.getCurrentImageKey(32)"/></td>
                <td>
                <a href="places/@place.id/update"><button type="button" class="btn btn-large btn-block red"><span>@place.label</span><br/><span><small>@place.getSpanSinceLastUpdatePretty()</small></span></button></a>  
            </td>
            <td>
                <a href="places/@place.id/history"><button type="button" class="btn btn-large"><span><small>Historique</small></span></button></a>  
            </td>
            </tr>
        }
    </table>
 
</div>
}